html * {
   font-family: FreeUniversalRegular !important;
}

nav {
  font-size: 20px;
}

hr {
  color: #928374;
}

body {
  background: #fbf1c7;
  left: 0;
  margin-left: 0px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

h1, h2, h3 {
  color: #32302f;
  text-align: left;
}

h2, h3 {
  text-align: left;
}

a.selected {
  color: #b57614;
  font-weight: bold;
}

a {
  color: #427b58;
  font-weight: bold;
}

li {
  text-align: left;
  font-weight: bold;
  margin-bottom: 5px;
}

p {
  font-weight: normal;
  text-align: left;
}

hr {
  border: 3px;
  border-style: none none dashed;
  background-color: transparent;
  width: 80%;
}

footer {
  height: auto;
  flex-grow: 1;
}

center {
  flex-grow: 1;
  margin-left: 30%;
  margin-right: 30%;
}

.title {
  color: #9d0006;
  font-weight: bold;
  text-align: center;
}

.pale {
  color:#928374;
}

.backticks {
  color: #9d0006;
  background-color: #ebdbb2;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
}

.fakeairline-status {
  color: #fbf1c7;
  background-color: #928374;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
}

.fakeairline-status2 {
  color: #fbf1c7;
  background-color: #a89984;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
}

.fakeairline {
  font-size: 15px;
  bottom: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  white-space: nowrap;
  color: #665c54;
  background-color: #ebdbb2;
}
